body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 1em;
}
a:link {
  text-decoration: none;
  color: black;
}

.logo {
  width: 60%;
  margin: 10px 10px 0px 40px;
}

/*header*/
#box-1 {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 90%;
}
.activities {
  color: black;
  margin: 0 50px 0 50px;
}
.herberg {
  color: #0065fc;
}
.signin {
  color: #0065fc;
  font-size: 15px;
  font-weight: bold;
}

/*nav*/
nav {
  padding-top: 0%;
  width: 60%;
  margin: 10px 10px 10px 40px;
}

.search-box-wrapper {
  display: flex;
  font-size: 18px;
}

.search-location-button {
  font-size: inherit;
  border: 2px solid #f2f2f2;
  border-radius: 0.5em 0 0 0.5em;
  color: #f2f2f2;
}
.search-box-input {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border: 1px solid #f2f2f2;
  border-radius: 0 0 0 0;
  padding: 0.3em;
  color: black;
}

.search-box-button {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: 2px solid #0065fc;
  border-radius: 0 0.6em 0.6em 0;
  background-color: #0065fc;
  color: white;
}

.search {
  line-height: 0.4em;
}
.para {
  font-size: 13px;
}
.cann {
  color: black;
}

/*section*/
#loge {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  border: 3px #f2f2f2 solid;
  background-color: #f2f2f2;
  border-radius: 20px 20px;
  border-width: 3em;
  width: 60%;
  min-width: 400px;
  height: 350px;
  padding: 0;
  margin: 30px 10px 10px 40px;
}
#loge2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 60%;
  min-width: 400px;
  height: 350px;
  padding: 0;
  margin: 30px 10px 10px 40px;
}
.child1 {
  width: 60%;
  margin: 20px 10px 0 0;
}
.child2 {
  width: 60%;
  margin: 20px 10px 0 0;
}
.child3 {
  width: 60%;
  margin: 20px 0 0 0;
}
.child4 {
  width: 0%;
  margin: 0 190px 0 0;
}
.child5 {
  width: 0%;
  margin: 0 190px 0 0;
}
.child6 {
  width: 0%;
  margin: 0 190px 0 0;
}
.more {
  color: black;
}

/*aside*/
aside {
  border: 3px #f2f2f2 solid;
  background-color: #f2f2f2;
  border-radius: 20px 20px;
  width: 350px;
  margin: 10px 10px 10px 20px;
  margin: auto;
}

/*artice*/

.port {
  color: black;
}
/*footer*/
footer {
  background-color: #f2f2f2;
  color: black;
}
.info-1 {
  color: black;
}
.info-2 {
  color: black;
}
.info-3 {
  color: black;
}
.info-4 {
  color: black;
}
.info-5 {
  color: black;
}
.info-6 {
  color: black;
}
.info-7 {
  color: black;
}
