body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 4em;
}
a:link {
  text-decoration: none;
  color: black;
}

.logo {
  width: 60%;
  margin: 10px 10px 0px 40px;
}

/*header*/
#box-1 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
  width: 90%;
}
.activities {
  color: black;
  margin: 0 50px 0 50px;
}
.herberg {
  color: #0065fc;
}
.signin {
  color: #0065fc;
  font-size: 15px;
  font-weight: bold;
}

/*nav*/
nav {
  padding-top: 0;
  width: 60%;
  margin: 10px 10px 0px 10px;
}

/*search box*/
.search-box-wrapper {
  display: flex;
  font-size: 18px;
  margin-left: 10px;
}

.search-location-button {
  font-size: inherit;
  border: 2px solid #f2f2f2;
  border-radius: 0.5em 0 0 0.5em;
  color: #f2f2f2;
  margin-left: 10px;
}
.search-box-input {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border: 1px solid #f2f2f2;
  border-radius: 0 0 0 0;
  padding: 0.3em;
}

.search-box-button {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: 2px solid #0065fc;
  border-radius: 0 0.6em 0.6em 0;
  background-color: #0065fc;
  color: white;
}

/*filters*/

#filters-button {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: row;
  padding: 1em;
  width: 69%;
  margin: 10px 10px 0 10px;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background: none;
  color: black;
  width: 340px;
  height: 40px;
  border: 3px solid #f2f2f2;
  margin: 0 10px 0 15px;
  border-radius: 20px;
  transition: 0.6s;
  overflow: visible;
}
.btn:focus {
  outline: none;
}
.btn::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-600px) skewX(-10deg);
}
.btn::after {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-600px) skewX(-10deg);
  color: white;
}
.btn:hover {
  background: #0065fc;
  cursor: pointer;
  color: white;
}
.btn:hover::before {
  transition: translateX(300px) skewX(-15deg);
  opacity: 0.1;
  transition: 0.3s;
}
.btn:hover::after {
  transition: translateX(300px) skewX(-15deg);
  opacity: 0.1s;
  transition: 0.3s;
}
.intro {
  width: 60%;
  padding: 1em;
  margin: 0 0 0 25px;
}
.search {
  line-height: 0.4em;
}
.title {
  padding: 1.2em;
}
.para {
  font-size: 13px;
  padding: 1.7em;
}
.cann {
  color: black;
}

/*section*/
.main {
  height: 650px;
  width: 60%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  align-content: stretch;
  border: 3px solid #f2f2f2;
  border-radius: 15px 15px;
}
.image {
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 70px;
  margin-bottom: 0px;
  display: flex;
  justify-content: left;
  align-content: flex-start;
}
#ancre2 {
  color: black;
  background-color: #f2f2f2;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  width: 100%;
  margin: 20px 10px 0 30px;
  padding: 1em;
  justify-content: left;
}
.main a {
  border: 3px solid white;
  background-color: white;
  border-radius: 15px 15px;
  height: 190px;
  width: 23%;
  margin-top: 0;
  margin-right: 40px;
  margin-left: 40px;
}
.main p {
  display: flex;
  justify-content: center;
}
.more {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: black;
  width: 100%;
  height: 35px;
  border: 0 solid #f2f2f2;
  margin: 0 10px 0 25px;
}

/*aside*/
aside {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  border: 3px #f2f2f2 solid;
  background-color: #f2f2f2;
  border-radius: 15px 15px;
  width: 350px;
  margin: 10px 10px 10px 20px;
  margin: auto;
  width: 25%;
}

/*article*/

.port {
  color: black;
}
/*footer*/
.footer-container {
  background-color: #f2f2f2;
  padding-bottom: 0;
  width: 100%;
}
.footer {
  width: 70%;
  height: 20vh;
  padding: 1em;
  background-color: #f2f2f2;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 0 10px;
  line-height: 1.8em;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}
.footer-heading h4 {
  margin-bottom: 1em;
}
